@tailwind base;
@tailwind components;
@tailwind utilities;

main {
  margin: 0 auto;
  max-width: 90%;
  padding: 50px 30px;
}
:root {
  --background: rgb(118, 118, 118);
  --primary: #b6b6b6;
  --secondary: white;
  --Font: Arial, sans-serif;
  --hover: white;
  --error: rgb(228, 46, 1);
  --spacing-one: calc(1rem * 0.5);
  --spacing-two: calc(1rem);
  --spacing-five: calc(2.5rem);
}

body {
  background-color: var(--background);
}

.nav {
  background-color: var(--primary);
}

.Hover-Color:hover {
  background-color: var(--hover);
}